<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="../public/images/photo-logos/photo-logos_transparent.png">
          </a>
        </div>

        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit">Button</button>
            </span>
        </div>

            <!-- add search form -->
            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search this site">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-secondary" type="submit">Button</button>
                    </span>
                </div>
            </form>
        

        <a href="/login">
            <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
        </a>
        
    </div>
</nav>