doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css', integrity='sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img(alt='Brand', src='../images/photo-logos/photo-logos_transparent.png' ,width='50px')
        form.form-inline.my-2.my-lg-0
          input#searchInput.form-control.mr-sm-2(type='search', placeholder='Search Topic', aria-label='Search' , required='')
          a#searchLink.btn.btn-outline-success(href='/search', role="button" , onclick='searchOnClick()') Search
            //button.btn.btn-outline-success.my-2.my-sm-0.input-group(type='submit') Search
        a.inline-block(href='/login')
          button.btn.btn-default.navbar-btn.navbar-right(type='button') Sign in

  body
   
    .container    
      block content

      script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/searchImage.js')
      //script(src='/javascripts/popUp.js')
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
      
   
