extends layout
block content

    .container
        h1 #{title}
            .row
                .col-12
                .card-columns
                    each image in imageList
                        .card
                            a(href='/image', data-toggle='modal', data-target='#popupImage')
                                img.card-img-top(src=image.urls.regular, alt=image.description)

        
    #popupImage.modal.fade(role='dialog', aria-labelledby='modalLabel', aria-hidden='true', tabindex="-1")
        .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header
                h5#modalLabel.modal-title Image title
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                img.w-100.shadow-1-strong.rounded.mb-4.img-fluid(src=imageList[4].urls.regular, alt='Wintry Mountain Landscape', style='object-fit')
            .modal-footer
                .container-fluid
                    .row
                        .col-md-4 Image meta data
                        .col-md-4
                        .col-md-4.ml-auto
                            button.btn.btn-secondary.float-right(type='button')
                                svg.bi.bi-heart-fill(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewbox='0 0 16 16')
                                    path(fill-rule='evenodd', d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z')